@model GesReunions.Models.Reunions

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_test.cshtml";
}

<h2>Delete</h2>
<div class="row gutters">
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

    <div class="card m-0">
        <div class="card-body">

            <h3>Êtes-vous sûr de vouloir supprimer ceci ?</h3>
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Titre)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Titre)
                    </dd>

                </dl>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Date)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Date)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Supprimer" class="btn btn-secondary" /> |

                        @Html.ActionLink("Retour", "Index", new { }, new { @class = "btn-link" })
                    </div>

                }
            </div>

        </div>
    </div>

</div>

</div>

</div>
