@model GesReunions.Models.Salles

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_test.cshtml";
}




@using (Html.BeginForm())
{
<br />
<br />
<br />
<br />
    @Html.AntiForgeryToken()
    <center>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Modification du salle</div>
                </div>
                <div class="card-body">

                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-1 col-form-label">Nom du salle</label>
                        <div class="col-sm-11">
                            @*  <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">*@
                            @Html.EditorFor(model => model.nom, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                            @Html.ValidationMessageFor(model => model.nom, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-1 col-form-label">Capacité</label>
                        <div class="col-sm-11">
                            @Html.EditorFor(model => model.capacite, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                            @Html.ValidationMessageFor(model => model.capacite, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Enregistrer la modification" class=" btn btn-primary mb-2" />
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </center>

    @*     <div class="form-horizontal">
            <h4>Salles</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.nom)

        <div class="form-group">
            @Html.LabelFor(model => model.capacite, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.capacite, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.capacite, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.nom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nom, "", new { @class = "text-danger" })
            </div>
        </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>*@
}
<div>
    <a href="@Url.Action("Index")" class="btn btn-secondary" style="text-decoration:none;">
        <i class="fas fa-arrow-left"></i> Retour
    </a>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
